body{
    padding: 0px 20%;
}
.sky-form {
    margin-top: -10px;
}
.row1 {
    outline: none;
    padding: 20px;
    overflow: auto;
    height: 155px;
}
.row2 {
    height: 175px;
}
.sky-form.col.col-4 ul {
    padding: 0;
    list-style: none;
}
.sky-form h4{
    margin-top: 10px;
    background: #ECECEC;
    padding: 15px 20px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size:16px;
}
.sky-form section {
    margin-bottom: 20px;
}
#books{
    position: absolute;
    left: 35%;
}
ul {
    list-style-type: none;
}
.book_author,.book_genre,.book_name,.checkbox{
    text-transform: capitalize;
}
#sort{
    padding-bottom: 20px;
}